@model IEnumerable<Anotame.Models.Arreglo>

@{
    Layout = null;
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="row">
    <div class="col-md-5">
        <h2>Índice de arreglos</h2>
    </div>
    <div class="col-md-7 row">
        <label class="control-label col-md-6">Buscar arreglo:</label>
        <input placeholder="Escribe el nombre" class="form-control col-md-6" id="BusqArregloT" />
    </div>
</div>

<table class="table" id="tblArreglo">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.idPrecio)
                </th>*@
            <th>
                Editar
            </th>
            <th>
                Eliminar
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.idPrecio)
                    </td>*@
                <td>
                    @{
                        var editUrl = Url.Action("Edit", new { id = item.id });
                        var deleteUrl = Url.Action("Delete", new { id = item.id });
                    }
                    @*@Html.ActionLink("Editar", "Edit", new { id = item.id })*@
                    <button type="button" class="btn btn-primary nticon btnEditArr" data-url="@editUrl">
                        <i id="icoEdit" class="fas fa-pen notaicon fa-2x"></i>
                    </button>
                </td>
                <td>
                    @*@Html.ActionLink("Details", "Details", new { id=item.id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id })*@
                    <button type="button" class="btn btn-primary nticon btnDeleteArr" data-url="@deleteUrl">
                        <i id="icoDelete" class="fas fa-trash notaicon fa-2x"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>
