@{
    ViewBag.Title = "Home Page";
}
@section miscss{
    <link href="~/Content/CssPrivate/Home.css" rel="stylesheet" />
}
@section misjava{
    <script src="~/Scripts/PrivateJavascripts/jsHome.js"></script>
}

<div class="jumbotron">
    <img id="imgLogo" src="~/Content/Images/El Hilván 1 Tinta.png" />
    <br />
    <h1 style="text-align: center;">EL HILVÁN</h1>
    <p class="lead text-center">Transformaciones a una puntada</p>
    @*<p class="lead">Una sastreria que brinda los mejores servicios al mejor precio</p>*@
    @*<p class="lead">Para iniciar con la aplicación toque alguno de los iconos de inicio de sesión</p>*@
    @*<p><a href="@Url.Action("Create","Nota")" class="btn btn-primary btn-lg">Comenzar &raquo;</a></p>*@
</div>

<div id="divLogin" class="row jumbotron">

    <p class="lead col-md-12 text-center">Para iniciar con la aplicación toque alguno de los iconos de inicio de sesión</p>

    <div id="divLoginBtn" class="row">
        <div id="divMamutish" class="col">
            <button type="button" id="btnMamutish" class="btn btn-primary" data-toggle="modal" data-target="#Login">
                <img src="~/Content/Images/Mamutish.jpg" style="width: 200px; height: 200px; border-radius: 8px;" />
            </button>
            @*<a href="@Url.Action("Create","Nota")">
                <img src="~/Content/Images/Mamutish.jpg" style="width: 200px; height: 200px; border-radius: 8px;" />
            </a>*@
        </div>
        <div id="divPapureos" class="col">
            <button type="button" id="btnPapureos" class="btn btn-primary" data-toggle="modal" data-target="#Login">
                <img src="~/Content/Images/Papureos.jpg" style="width: 200px; height: 200px; border-radius: 8px;" />
            </button>
            @*<a href="@Url.Action("Create","Nota")">
            <img src="~/Content/Images/Papureos.jpg" style="width: 200px; height: 200px; border-radius: 8px;" />
        </a>*@
        </div>
        <div id="divMarisol" class="col">
            <button type="button" id="btnMarisol" class="btn btn-primary" data-toggle="modal" data-target="#Login">
                <img src="~/Content/Images/Marisol.jpg" style="width: 200px; height: 200px; border-radius: 8px;" />
            </button>
            @*<a href="@Url.Action("Create","Nota")">
            <img src="~/Content/Images/Marisol.jpg" style="width: 200px; height: 200px; border-radius: 8px;" />
        </a>*@
        </div>
        <div id="divMaLuz" class="col">
            <button type="button" id="btnLuz" class="btn btn-primary" data-toggle="modal" data-target="#Login">
                <img src="~/Content/Images/MaLuz.jpg" style="width: 200px; height: 200px; border-radius: 8px;" />
            </button>
            @*<a href="@Url.Action("Create","Nota")">
            <img src="~/Content/Images/MaLuz.jpg" style="width: 200px; height: 200px; border-radius: 8px;" />
        </a>*@
        </div>
    </div>

    <p class="lead col-md-12 text-center">¿No cuenta con un usuario aún? Regístrese <a href="@Url.Action("Create","Empleados")">aquí</a></p>

</div>

<div id="divOtherLogin" class="jumbotron">
    <br />
    <p class="lead col-md-12 text-center">
        En caso de ser una o un usuario invitado/nuevo, inicie sesión aquí:
        <button type="button" id="btnNoOne" class="btn btn-primary" data-toggle="modal" data-target="#Login">Iniciar sesión</button>
    </p>
</div>

<div class="modal fade" id="Login" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Prenda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-body">
                @{Html.RenderAction("Login", "Login");}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>